
.section-container1
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
background-color: rgb(36, 36, 36);

}
.section-container1 .columns
{
flex:0 0 auto;
width:50%;
}

.section-container1 .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
transform: scale(1);
}
.section-container1 .columns.image:hover{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.section-container1 .columns.content .content-container
{
padding:40px 50px;
color: white;
}

.section-container1 .columns.content .content-container h5
{
font-weight:700;
font-size:40px;
color: white;
margin-bottom:20px;
}
.section-container1 .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
color: rgb(199, 198, 198);

}

.section-container1 .box{
  width: 500px;
  height: 500px;
  margin-left: 10vh;
  margin-bottom: 5vh;
  margin-top: 0vh;

}
.section-container1 .inside-image
{
  margin-right:4vh;
}

@media screen and (max-width:767px)
{
.section-container1
{
flex-flow:row wrap;
margin-top: 0vh;

}

.section-container1 .columns.image{
display:block;
order:1;
width: 350px;
height:350px;
margin-left: 3vh;
margin-bottom: 0vh;
}
.section-container1 .columns.content
{
display:block;
order:2;
width: 100%;
}
.section-container1 .columns.content .content-container
{
padding:20px 35px;
}
.section-container1 .columns.content .content-container h5
{
margin-bottom:5px;
}
.section-container1 .box{
    width: 100%;
    height: 400px;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }
}






/* Section 2*/


.section-container2
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container2 .columns
{
flex:0 0 auto;
width:50%;
}
.section-container2 .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
transform: scale(1);
}
.section-container2 .columns.image:hover{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.section-container2 .columns.content .content-container
{
padding:40px 50px;
margin-left: 0vh;
}
.section-container2 .columns.content .content-container h5
{
font-weight:700;
font-size:40px;
margin-bottom:20px;
}
.section-container2 .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:15px;
text-align:justify;
color: rgb(72, 72, 72);
}

.section-container2 .box{
    width: 500px;
    height: 500px;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-bottom: 5vh;
    border-radius: 10vh;
  }
  .section-container2 .inside-image
{
  margin-top: 5vh;
}

@media screen and (max-width:767px)
{
.section-container2
{
flex-flow:row wrap;
}
.section-container2 .columns.image{
display:block;
order:1;
width: 350px;
height:350px;
margin-bottom: 0vh;
}
.section-container2 .columns.content
{
display:block;
order:2;
width: 100%;
}
.section-containe2 .columns.content .content-container
{
padding:20px 35px;
}
.section-container2 .columns.content .content-container h5
{
margin-bottom:5px;
}
.section-container2 .inside-box
{
  margin-left: 2vh;
}

}


/* Speakers */


.container-about .card{
  position: relative;
  cursor: pointer;
  margin-left: 0vh;
  margin:0px auto;
  margin-bottom: 3vh;
}

.container-about .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-about .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-about .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0);
}

.container-about .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container-about .card:hover .face.face1 .content{
  opacity: 1;
}

.container-about .card .face.face1 .content img{
  max-width: 100px;
}

.container-about .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container-about .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container-about .card:hover .face.face2{
  transform: translateY(0);
}

.container-about .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container-about .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container-about .card .face.face2 .content a:hover{
  background: rgb(147, 147, 147);
  color: #fff;
}

.row {
  font-style: normal;
  font-size: medium;
  display: flex;

}


/* Remove extra left and right margins, due to padding */
.about .section-container3
{
  background-color: rgb(210, 210, 210);
}

.container-about{
  position: relative;
  display: flex;
  justify-content: space-between;
  width:100%;
  margin:0px auto;
}
/* Float three columns side by side */
.column {
  float: left;
  width: 23.3%;
  padding: 0 10px;
  margin:0 auto;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns */
@media screen and (max-width: 700px) {
  
 .container-about{
  width: 100%;
}
  
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .container-about .card
  {
    margin-left: 0vh;
  }
  .container-about .profile
  {
    height: 300px;
    width: 50%;
  }
  .container-about .row
  {
    margin-left: 0vh;
    margin-right: 0vh;
  }
  
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius:10px;
  cursor:pointer;
}
.card .profile{
   border-radius:10px;
   transition: 0.2s;
}
.card:hover .profile{
  transform:scale(1.4);
  border-top-right-radius:50px;
  border-top-left-radius:50px;
}

.card .content{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}
.card .content .back{
  position:absolute;
  width:100%;
  height:100%;
  background-color: #f1f1f1e6;
  transition:1s;
  
  z-index:1;
  padding:10px;
}

.from-left{
  top:0;
  left:-100%;
}
.card:hover .content .from-left {
   left:0%;
}

.from-bottom{
  top:100%;
  left:0;
}
.card:hover .content .from-bottom {
   top:0%;
}

.from-right{
  top:0%;
  right:-100%;
}
.card:hover .content .from-right {
   right:0;
}

.card .content .back h3{
  font-size:15px;
  letter-spacing:2px;
}
.card .content .back .tem-img{
  border-radius:100%;
}

.card .content .back .des{
  font-size:13px;
  padding:20px 0px;
}
.card .content .back .social-icon{
  list-style:none;
  margin:0px;
  padding:0px;
}
.card .content .back .social-icon li{
  display:inline-block;
}

.card .content .back .social-icon li a{
  display:block;
  background:#333;
  color:#fff;
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  border-radius:100%;
}
.card .content .back .social-icon a.twitter1:hover
{
  background-color:#00aced
}
.card .content .back .social-icon a.linkedin1:hover
{
  background-color: #0a66c2;
}
.card .content .back .social-icon a.instagram1:hover
{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}