  .event-container {
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  .event-container .single-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  .event-container .date-area {
    display: flex;
    background: linear-gradient(to right, #e7e7e7 45%, #000 45%, #000 45%, #e7e7e7 50%);
    order: 2;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    flex-basis: 100px;
  }
  
  .event-container p{
    font-size: 15px;
  }
  .event-container .date-area>span {
    font-size: 16px;
    line-height: 70px;
    margin: auto;
    background: #14b6c1;
    width: auto;
    height: 70px;
    border-radius: 50%;
  }
  .event-container .content {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    color: #ffffff;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background: #505050;
  }
  .event-container .content {
    margin-bottom: 3%;
  }
  .event-container  .content h1 {

    color: white;
    font-size: 19px;

  }
  .event-container  .content h2 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: white;

  }
  .event-container  .content h3 {
    margin: 5px;
    font-size: 14px;
    color: #ffffff;
  }
  @media (min-width: 640px) {
    .event-container  .content, .custom {
      width: 40%;
    }
    .event-container .box-right .content {
      order: 1;
      padding-right: 10px;
      border-radius: 25px;
    }
    .event-container .box-right .custom {
      order: 3;
    }
  }
  