.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    width: 70%;
    min-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 1px 1px 1px #5199ff;
    font-size: 14px;
    border: 2px solid #6cbaff;
    align-items: center;
    margin: 0 auto;
}
  styled-table thead tr {
    background-color: #6cbaff;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 8px 15px;
      text-align: center;
    
      
  }
  
  .styled-table tbody tr, td,th{
    border-top: 1.6px dashed rgb(177, 177, 177);
	border-right: 1.6px dashed rgb(177, 177, 177) ;
  }
  .styled-table tbody th {
    border: 1.6px black;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  
  .styled-table tbody tr.active-row {
    color: #6cbaff;
  }
  .event-head
  {
    text-align: center;
    font-size: 24px;
  }
  @media screen and (max-width:767px)
  {
    .styled-table
    {
    width: 100%;
    margin: 0 auto;
    }

    
  }