.sponsers-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
background-color: rgb(230, 230, 230);
margin-top: 1vh;
align-items: center;
align-content: center;


}
.sponsers-container .inside-image1
{
    width: 90vh;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 25vh;
    margin-bottom: 5vh;
    background-color:rgb(255, 255, 255);
    border-radius: 5vh;
    -webkit-filter: drop-shadow(3px 3px 3px rgb(137, 137, 137) );
    filter: drop-shadow(4px 4px 4px rgb(137, 137, 137));
    text-align: center;
}
.sponsers-container .inside-image2
{
    width: 45vh;
    height: 40vh;
    margin-left: 18vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color:rgb(255, 255, 255);
    border-radius: 5vh;
    -webkit-filter: drop-shadow(3px 3px 3px rgb(137, 137, 137) );
    filter: drop-shadow(4px 4px 4px rgb(137, 137, 137));

}

.sponsers-container .box1{
    width: 200px;
    height: 200px;
    margin-top: 3vh;
    margin-left: 11vh;
    margin-bottom: 10vh;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(108, 108, 108) );
    filter: drop-shadow(5px -2px 20px 5px rgb(108, 108, 108));
    background-color:rgb(255, 255, 255);
    border-radius: 5vh;
    transition: box-shadow .3s;

  }
  .sponsers-container .box1:hover, .box1-1:hover, .box2:hover
  {
    box-shadow: 0 0 11px rgb(95, 196, 255); 
    -webkit-filter: drop-shadow(0px 0px 0px rgb(108, 108, 108) );
    filter: drop-shadow(0px 0px 0px 0px rgb(108, 108, 108));
  }
  
.sponsers-container .box1-1{
    width: 200px;
    height: 200px;
    margin-top: 3vh;
    margin-left: 11.5vh;
    margin-bottom: 10vh;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(108, 108, 108) );
    filter: drop-shadow(5px -2px 20px 5px rgb(108, 108, 108));
    background-color:rgb(255, 255, 255);
    border-radius: 5vh;
    transition: box-shadow .3s;
    
  }

  .sponsers-container .box2{
    width: 200px;
    height: 200px;
    margin-bottom: 10vh;
    margin-top: 3vh;
    margin-left: 8.5vh;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(108, 108, 108) );
    filter: drop-shadow(5px -2px 20px 5px rgb(108, 108, 108));
    background-color:rgb(255, 255, 255);
    border-radius: 5vh;
    transition: box-shadow .3s;
  }
  .spo-img1-1
{
    margin-left: -1.4vh;
}
.spo-img
{
    margin-left: 1vh;
    margin-top: 1vh;
}
.spo-img1
{
    margin-left: 0.5vh;
}
.name{
    text-align: center;
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    margin-top: 0.1vh;
    -webkit-filter: drop-shadow(3px 3px 3px rgb(144, 203, 238) );
      filter: drop-shadow(3px 3px 3px rgb(144, 203, 238));
    border-radius: 100px 100px 0px 0px;
}
.sponsers-container .inside-box1
{
    background-color: ;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
transform: scale(1);
}
.inside-box1:hover
{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
  

.sponsers-container .inside-box2
{
    background-color: ;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
transform: scale(1);
}
.inside-box2:hover
{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
@media screen and (max-width:767px)
{
.sponsers-container
{
flex-flow:row wrap;
width: 99%;

}
.sponsers-container .inside-image1{
display:block;
width: 97%;
height:43vh;
margin-left: 1vh;
padding-left: 0vh;
text-align: center;
}
.sponsers-container .box1-1
{
    margin-left: 3vh;
}
.sponsers-container .inside-image2
{
    margin-left: 12.5vh;
}
    

}

